footer.footer
  .footer__container.container
    .footer__social.social 
      a.social__item.social__item--vk(href="#")
        +icon('vk')(width="14", height="15")
      a.social__item.social__item--fb(href="#")
        +icon('fb')(width="11", height="20")
      a.social__item.social__item--ok(href="#")
        +icon('ok')(width="12", height="20")
      a.social__item.social__item--tw(href="#")
        +icon('tw')(width="19", height="16")
    
    .footer__copy
      p © 2021 AFTER WE FELL, LLC. ALL RIGHTS RESERVED.
      p © 2021 HSM production