header.header
  .header__container 
    .header__rating
      +icon('rating')(width="74", height="46")
    .header__logo 
      +icon('woman')(width="195", height="44")
    .header__copy © 2021 HSM production
