.after-logo {
  position: relative;

  width: vw(394);

  @include max(sm) {
    width: vw(296, 414);
  }

  @include min(xxl) {
    width: 394px;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    font-size: vw(18);
    line-height: 2;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $beige;
    white-space: nowrap;

    @include max(sm) {
      font-size: vw(12, 414);
    }

    @include min(xxl) {
      font-size: 18px;
    }

    &--top {
      top: vw(23);

      @include max(sm) {
        top: vw(17, 414);
      }

      @include min(xxl) {
        top: 23px;
      }
    }

    &--bottom {
      bottom: vw(51);

      @include max(sm) {
        bottom: vw(38, 414);
      }

      @include min(xxl) {
        bottom: 51px;
      }
    }
  }
}
