.section {
  $self: &;

  position: relative;
  background-color: #96d4d8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  @include max(sm) {
    padding-top: vw(62, 414);
    padding-bottom: vw(100, 414);
  }

  &--first {
    background-image: url("../images/bg-1.jpg");

    @include retina {
      background-image: url("../images/bg-1@2x.jpg");
    }

    @include max(sm) {
      background-image: url("../images/mobile-bg.jpg");
      background-size: 100% auto;
      background-position: 50% 0;

      @include retina {
        background-image: url("../images/mobile-bg@2x.jpg");
      }
    }

    #{$self}__title {
      max-width: vw(990);
      margin: 0 auto vw(20);

      font-family: "18VAG";
      font-weight: 700;
      font-size: vw(63);
      line-height: (65 / 63);
      color: #ffffff;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-align: center;

      @include max(sm) {
        max-width: vw(384, 414);
        margin-bottom: vw(20, 414);
        font-size: vw(26, 414);
        line-height: (30 / 26);
        letter-spacing: 0.05em;
      }

      @include min(xxl) {
        max-width: 990px;
        margin: 0 auto 20px;
        font-size: 63px;
      }
    }

    #{$self}__text {
      max-width: vw(1123);
      margin: 0 auto vw(48);
      text-align: center;
      color: #ffffff;

      @include max(sm) {
        max-width: vw(349, 414);
        margin-bottom: vw(30, 414);
        font-size: vw(18, 414);
        line-height: (25 / 18);
      }

      @include min(xxl) {
        max-width: 1123px;
        margin: 0 auto 48px;
      }
    }

    #{$self}__btn {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--second {
    position: relative;
    background-image: url("../images/bg-2.jpg");

    @include retina {
      background-image: url("../images/bg-2@2x.jpg");
    }

    @include max(sm) {
      padding-top: vw(86, 414);
      padding-bottom: vw(100, 414);
      background-image: url("../images/mobile-bg-2.jpg");

      @include retina {
        background-image: url("../images/mobile-bg-2@2x.jpg");
      }
    }

    #{$self}__container {
      display: grid;
      grid-template-columns: vw(736) 1fr;
      align-content: start;

      @include max(sm) {
        display: block;
      }

      @include min(xxl) {
        grid-template-columns: 736px 1fr;
      }
    }

    #{$self}__rating {
      svg {
        fill: #96d4d8;
      }
    }

    #{$self}__info {
      grid-column: 1;
      margin-top: vw(80);

      @include max(sm) {
        margin-top: vw(43, 414);
      }

      @include min(xxl) {
        margin-top: 80px;
      }
    }

    #{$self}__text {
      grid-column: 1;
      grid-row: 2;
      margin-top: vw(67);
      margin-left: vw(150);

      @include max(sm) {
        max-width: vw(349, 414);
        margin: vw(45, 414) auto 0;
      }

      @include min(xxl) {
        margin-top: 67px;
        margin-left: 150px;
      }
    }

    #{$self}__wheel {
      position: relative;
      left: vw(81);
      grid-column: 2;
      grid-row: 1 / span 2;
      width: vw(656);
      height: vw(656);
      margin: vw(59) auto;

      @include max(sm) {
        left: 0;
        width: vw(349, 414);
        height: auto;
        margin: vw(59, 414) auto;
      }

      @include min(xxl) {
        left: 81px;
        width: 656px;
        height: 656px;
        margin: 59px auto;
      }
    }
  }

  &__after-logo {
    margin: 0 auto;
  }

  &__container {
    min-height: vw(960);

    @include max(sm) {
      min-height: 0;
      transition: opacity 0.3s ease;

      &.hide {
        position: absolute;
        opacity: 0;
        pointer-events: none;
      }
    }

    @include min(xxl) {
      min-height: 960px;
    }
  }

  &__title {
    margin-bottom: vw(37);
    font-size: vw(48);
    line-height: 1;
    font-weight: 700;
    color: $beige;
    text-transform: uppercase;

    @include max(sm) {
      font-size: vw(35, 414);
      margin-bottom: vw(37, 414);
    }

    @include min(xxl) {
      margin-bottom: 37px;
      font-size: 48px;
    }
  }

  &__info {
    list-style-position: inside;
    max-width: vw(573);
    margin-left: vw(150) !important;
    font-size: vw(30);
    line-height: 1.333333333333;
    color: #ffffff;
    letter-spacing: 0.03em;

    @include max(sm) {
      max-width: none;
      margin-left: 0 !important;
      font-size: vw(22, 414);
      line-height: (30 / 22);
    }

    @include min(xxl) {
      max-width: 573px;
      margin-left: 150px !important;
      font-size: 30px;
    }

    li + li {
      margin-top: vw(12);

      @include min(xxl) {
        margin-top: 12px;
      }
    }
  }

  &__text {
    & + & {
      margin-top: vw(40);

      @include min(xxl) {
        margin-top: 40px;
      }
    }

    @include max(sm) {
      font-size: vw(18, 414);
      line-height: (25 / 18);
    }
  }
}
