.social {
  display: flex;
  flex-wrap: wrap;
  pointer-events: auto;

  &__item {
    display: flex;
    width: vw(52);
    height: vw(52);
    justify-content: center;
    margin-top: vw(8);
    border-radius: 50%;
    background-color: $beige;
    transition: background-color 0.3s ease;

    @include hover {
      background-color: lighten($beige, 5%);
    }

    @include max(sm) {
      width: vw(36, 414);
      height: vw(36, 414);
      margin-top: vw(8, 414);
    }

    @include min(xxl) {
      width: 52px;
      height: 52px;
      margin-top: 8px;
    }

    svg {
      align-self: center;

      @include max(sm) {
        transform: scale(0.7);
      }
    }

    &--vk {
      svg {
        width: vw(14);
        height: vw(15);

        @include max(sm) {
          width: vw(14, 414);
          height: vw(15, 414);
        }
        @include min(xxl) {
          width: 14px;
          height: 15px;
        }
      }
    }
    &--fb {
      svg {
        width: vw(11);
        height: vw(20);

        @include max(sm) {
          width: vw(11, 414);
          height: vw(20, 414);
        }

        @include min(xxl) {
          width: 11px;
          height: 20px;
        }
      }
    }
    &--ok {
      svg {
        width: vw(12);
        height: vw(20);

        @include max(sm) {
          width: vw(12, 414);
          height: vw(20, 414);
        }

        @include min(xxl) {
          width: 12px;
          height: 20px;
        }
      }
    }
    &--tw {
      svg {
        width: vw(19);
        height: vw(16);

        @include max(sm) {
          width: vw(19, 414);
          height: vw(16, 414);
        }

        @include min(xxl) {
          width: 19px;
          height: 16px;
        }
      }
    }
  }

  a + a {
    margin-left: vw(12);

    @include max(sm) {
      margin-left: vw(12, 414);
    }

    @include min(xxl) {
      margin-left: 12px;
    }
  }
}
