.footer {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: vw(49);
  pointer-events: none;

  @include max(sm) {
    //position: static;
    bottom: 0;
    padding-top: vw(8, 414);
    padding-bottom: vw(8, 414);
  }

  @include min(xxl) {
    bottom: 49px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    @include max(sm) {
      justify-content: center;
    }
  }

  &__copy {
    display: none;

    @include max(sm) {
      display: block;
      width: 100%;
      margin-top: vw(8, 414);

      font-size: vw(12, 414);
      line-height: (18 / 12);
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
    }
  }

  &__hint {
    display: none;

    @include max(sm) {
      display: block;
      position: absolute;
      top: 0;
      right: vw(16, 414);
      transform: translateY(-100%);
      animation-name: downUp;
      animation-iteration-count: infinite;
      animation-duration: 2s;

      transition: opacity 0.3s ease;

      &.invisible {
        opacity: 0;
      }

      svg {
        display: block;
        width: vw(32, 414);
        height: vw(32, 414);

        fill: #ffffff;
      }
    }
  }
}

@keyframes downUp {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
