.header {
  position: absolute;
  left: vw(50);
  top: vw(40);
  bottom: vw(22);
  z-index: 1;
  display: flex;

  @include max(sm) {
    display: block;
    left: 0;
    top: 0;
    bottom: auto;
    width: 100%;
    padding-top: vw(21, 414);
  }

  @include min(xxl) {
    left: 50px;
    top: 40px;
    bottom: 22px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include max(sm) {
      flex-direction: row;
      padding: 0 vw(16, 414);
    }
  }

  &__rating {
    svg {
      display: block;
      width: vw(74);
      height: auto;
      fill: $beige;

      @include max(sm) {
        width: vw(51, 414);
      }

      @include min(xxl) {
        width: 74px;
      }
    }
  }

  &__logo {
    margin-top: auto;

    @include max(sm) {
      margin-top: 0;
    }

    svg {
      display: block;
      width: vw(195);
      height: auto; //vw(44);

      @include max(sm) {
        width: vw(141.88, 414);
      }

      @include min(xxl) {
        width: 195px;
      }
    }
  }

  &__copy {
    margin-left: vw(9);
    font-size: vw(12);
    line-height: (36 / 12);
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05em;

    @include max(sm) {
      display: none;
    }

    @include min(xxl) {
      margin-left: 9px;
      font-size: 12px;
    }
  }
}
