html {
  font-size: $fs-main;

  @include min(xxl) {
    font-size: 20px;
  }
}
body {
  font-family: $mainFont;
  color: $textMainColor;
  line-height: $lh-main;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 vw(50);
  margin: 0 auto;

  @include max(sm) {
    padding: 0 vw(16, 414);
  }

  @include min(xxl) {
    padding: 0 50px;
  }
}

.hide {
  display: none !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #536587;
  border-radius: none;
}

::-webkit-scrollbar-corner {
  background-color: #999;
}

::-webkit-resizer {
  background-color: #666;
}
