extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

		const ASPECTS = [
			{title: 'Принятие', mod: 'acceptance'},
			{title: 'Независимость', mod: 'independence'},
			{title: 'Страсть', mod: 'passion'},
			{title: 'Нежность', mod: 'softness'},
			{title: 'Взаимодополняемость', mod: 'complementarity'},
			{title: 'Чуство безопасности', mod: 'safety'},
			{title: 'Ревность', mod: 'jealousy'}
		]

block main
	#fullpage
		section.section.section--first.anim
			.section__container.container
				.section__after-logo.after-logo
					.after-logo__text.after-logo__text--top по мировому бестселлеру
					.after-logo__text.after-logo__text--bottom в кино с 2 сентября
					img(src="images/after-logo.png", srcset="images/after-logo@2x.png 2x", width="394", height="394", alt="После. Глава 3")

				h1.section__title Насколько гормоничны ваши отношения
				.section__text
					p 2 сентября на российские экраны выходит долгожданное продолжение цикла «После», снятого по одноименной серии&nbsp;романов Анны Тодд, которые фанаты называют «самой романтичной версией 50 оттенков серого». В третьей&nbsp;части сексуального Хардина и нежную Тессу ждут недетские переживания: их чувства становятся более зрелыми, но теперь к ним примешивается ревность, недоверие, поиск себя в союзе с партнером. Что неудивительно: ведь теперь они начинают жить вместе, а юношеская страсть уступает место настоящей любви.
					p В преддверии премьеры мы совместно с психологом Алексеем Симоновым предлагаем вам составить колесо баланса вашей пары, выяснив насколько гармоничны ваши отношения.
					p Готовы отвечать искренне? Тогда поехали!
					
				a.section__btn.btn.__js_move-down(href="#second") Проверьте себя
		
		section.section.section--second.anim#second
			.section__container.container
				ol.section__info
					li Наведите курсор на сектор
					li Закрасьте сектор в соответствии с тем, как много места в вашей жизни занимает тот или иной процесс
					li Повторите с каждым сектором

				.section__wheel.wheel
					.wheel__image
						include ../partials/_wheel
						each item in ASPECTS
							.wheel__aspect(class="wheel__aspect--" + item.mod)= item.title
					

					a.wheel__btn.btn.btn--disabled.__js_show-result(href="#", data-modal-text="") Посмотреть результат

				
				.section__text
					| Колесо баланса – методика, придуманная Полом Дж. Мейером, гуру по личностному росту и саморазвитию, в 70-х годах XX века. Сегодня этот прием активно применяется на тренингах и психологических семинарах по всему миру. Смысл техники – помочь человеку расставить жизненные приоритеты и выделить «провисающие» сферы. В классическом варианте колесо баланса состоит из 5-10 секторов, связанных с различными сферами жизни. В нашем колесе каждый сектор – определенная сторона взаимоотношений в паре. Оцените каждую из них по шкале от 1 до 10, и система выдаст результат. Учиться на ошибках будем на примере рокового красавчика Хардина и наивной умницы Тессы – главных героев франшизы, на долю которых в третьей части выпадет особенно много эмоциональных испытаний. 

			section.result-section.invisible.__js_result-section
				.result-section__container.container
					.result-section__aside
						each item in ASPECTS
							img(class= item.mod, src="images/" + item.mod + ".jpg",  width="937", height="1020", alt= item.text)
						//-img(src="images/result-image.jpg", srcset="images/result-image@2x.jpg 2x", width="937", height="1020", alt="Страсть")
						.result-section__aside-logo.after-logo
							.after-logo__text.after-logo__text--top по мировому бестселлеру
							.after-logo__text.after-logo__text--bottom в кино с 2 сентября
							img(src="images/after-logo.png", srcset="images/after-logo@2x.png 2x", width="394", height="394", alt="После. Глава 3")
					.result-section__content
						h2.result-section__title

						.result-section__content-wrapper(data-simplebar)
							.result-section__text.__js_result-desc
								

							.result-section__text.__js_result-expert
								
						
						.result-section__buttons
							a.result-section__btn.btn.__js_retry(href="#") Попробовать еще раз
							a.result-section__btn.btn.hide.__js_more(href="#") Показать еще результат			

			



